.container {
    background-color: none;
    text-align: center;
    color:rgb(76, 76, 76);
    font-weight: 400;
    

}
.col{
    background-color: rgba(245, 245, 220, 0.5);
    font-size: 30px;
    border: none;
    border-radius: 15px;
    margin: 10px 10px 10px 10px;
    padding: 15px 15px 15px 15px;
    
}
.principal{
    height: 450px;
}

.row{
   
  
   margin-left: 10px;
   margin-right: 10px;
   text-align: center;
}

.segundo{
    height: 150px;
    margin-top: 30px;
}

.nav{
    background-color: #f1dfd2; 
    position:-webkit-sticky;
}

.nav-tabs{
    font-size:xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-align: center;
    
}

.nav-item{
    margin-left: 50px;
    margin-right: 50px;
   
    
}

.nav-link{
    padding: 0px 100px 0px 100px; 
    color:dimgrey;
}

.weather  {
    position: relative;
    width: 200px;
    height: 200px;
        
}

.fecha{
    font-size:16px;
}

.amanecer{
    font-size:20px; 
}

.extremos{
    font-size:20px; 
    }

.pequeño{
    width: 80px;
    height: 80px;  
}

.pequeñin{
   
    width: 40px;
    height: 40px;  
}

.leaflet-container {
    width: 100wh; 
    height: 80vh;
  }

.transporte{
    background-image: linear-gradient(to bottom right, rgb(96, 96, 248),rgb(243, 227, 195));
}

.table{
    font-size:16px; 
}
  
.sieteDias{
    position: relative;
    width: 50px;
    height: 50px;
}

tr{
    padding-top: 0%;
    padding-bottom: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}
